@charset "utf-8";
@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family:'Noto Sans KR',
    'Nanum Gothic','Malgun Gothic','맑은 고딕','굴림',gulim,'돋움',dotum,'Microsoft NeoGothic', 'Droid sans', sans-serif; /* 1 */
  	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
    margin: 0;
	padding: 0;
    -webkit-padding:0;
    -webkit-margin:0;
   
}
body {
	margin: 0;
	padding: 0;
    -webkit-user-select:none;
      -webkit-touch-callout:none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-y: visible !important;
     line-height:1em;
    font-weight:400;
}
*{margin:0; padding:0;}
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

fieldset {border:0;padding:0;margin:0;}
fieldset:after {content: " "; display: table; height: 0; clear: both; }
fieldset legend {display:none;}
 
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  margin: 0 0;
}
h2 {
  font-size: 2em;
  margin: 0em 0;
}


/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */


/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  outline-style:none;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
  outline-style:none;
}
form, {outline-style:none;}

/*input박스 그림자 효과 없애기*/
form input[type="text"]{
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
form input[type="password"]{
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
    -webkit-appearance:none!important;
    border-radius:none;
    border-radius: 0;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
/*
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
*/
	padding: :0;
	margin: 0;
	border: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    resize:none;
    overflow: auto;
    -webkit-appearance:none!important;
    border-radius:none;
    border-radius: 0;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
ul,li,ol { list-style: none; margin: 0; padding: 0;}

th,td,input,select,textarea,button {
	font-size:13px; line-height:1; color:#222842;
}
 
*,*:before,*:after { box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

img {max-width:100%;}

::-webkit-input-placeholder {
    color:#dddddd; font-weight:400;
}
:-moz-placeholder {
    color: #dddddd;font-weight:400;
}
::-moz-placeholder {
    color:#dddddd;font-weight:400;
}
:-ms-input-placeholder {
    color:#dddddd;font-weight:400;
}
:-o-input-placeholder {
    color:#dddddd;font-weight:400;
}
input[type=text]::-webkit-input-placeholder{color:#dddddd;}
input[type=text]::-moz-input-placeholder{color:#dddddd;}
input[type=password]::-webkit-input-placeholder{color:#dddddd;}
input[type=password]::-moz-input-placeholder{color:#dddddd;}
input[type=email]::-webkit-input-placeholder{color:#dddddd;}
input[type=email]::-moz-input-placeholder{color:#dddddd;}
input[type=number]::-webkit-input-placeholder{color:#dddddd;}
input[type=number]::-moz-input-placeholder{color:#dddddd;}
a,
a:hover,
a:active,
a:visited { text-decoration: none; color:inherit;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
i, time { font-style: normal; }
caption{display: none;}
a{cursor: pointer;}

.width_100{width:100%!important;}
.width_80{width:80%;}
.width_70{width:70%;}
.width_60{width:60%;}
.width_50{width:50%;}

.font-15{font-size:0.938em;}
.font-medium{font-weight:500;}
.text_align{text-align:center;}
.text_left{text-align:left!important;}

.fl{float:left;}
.fr{float:right!important;}

.fixed{position:fixed!important;}
.relative{position:relative;}
.clear{clear:both;}
.dis_none{display:none;}
.inine-block{display:inline-block;}
.dis_block{display:block;}
.inine-webkbox{display:-webkit-box;}

.mr5{margin-right:5px;}
.p_side12{padding:0 12px;}

.opacity9{opacity: 0.9; position:relative; z-index:999;}


/*말줄임*/
.txt_loss{
    display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; 
    overflow:hidden;
    text-overflow:ellipsis; word-wrap: break-word; white-space:normal;
}

/*말줄임_한줄*/
.txt_loss_one{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*========================================================================*/
.ic_Gnb{
	display:inline-block;
	vertical-align:middle;
	text-indent: -9999px; 
    background:url(../images/ic_Gnb.png) no-repeat;
	background-size:300px 300px;
}
.ic_Main{
	display:inline-block;
	vertical-align:middle;
	text-indent: -9999px; 
    background:url(../images/ic_Main.png) no-repeat;
	background-size:300px 300px;
}
.ic {
	display:inline-block;
	vertical-align:middle;
	text-indent: -9999px; 
    background:url(../images/ic_common.png) no-repeat;
	background-size:300px 300px;
}
.page_header{ 
	background: rgb(255,255,255); /* Old browsers */
}
.head_gnb {
    height:48px; margin:0 auto; line-height:48px;
}
/*메인SideMenu*/
.btn_head_sidemenu_close02 {
		position:absolute;right:24px;top:0;
		line-height:48px;
}
.btn_head_sidemenu_close {
		position:absolute; right:74px; top:0;
		line-height:48px;
}

.ic_Gnb.ic_side_menu01 {
    background-position:-37px 0px; width:37px; height:37px;
}
.ic_Gnb.ic_side_menu02 {
    background-position:0px 0px; width:37px; height:37px;
}

.ic_Main.ic_sound {
    background-position:0px -37px; width:37px; height:37px;
}
.ic_Main.ic_aorrow {
    background-position:-259px 0px; width:37px; height:37px;
}
.ic_Main.ic_space  {
    background-position:0px 0px; width:37px; height:37px;
}
.ic_Main.ic_gathering {
    background-position:-74px 0px; width:37px; height:37px;
}
.ic_Main.ic_club {
    background-position:-37px 0px; width:37px; height:37px;
}
.ic_Main.ic_activity {
    background-position:-111px 0px; width:37px; height:37px;
}
.ic_Main.ic_edu {
    background-position:-148px 0px; width:37px; height:37px;
}
.ic_Main.ic_notice {
    background-position:-185px 0px; width:37px; height:37px;
}
.ic_Main.ic_data {
    background-position:-222px 0px; width:37px; height:37px;
}

/*============================================================================*/

#content{height:100%;}
.content_wrap{height:100%; padding:0 12px;}

/*###################메인###################*/

#wrap {min-height:100%; position:relative; overflow:hidden;}
h1{width:89px; height:21px;}
.header{
    width:100%; padding:0 12px;
}

.head_gnb > .btn_head_sidemenu_close02 > .notice_number{
    background:#e9105d; border-radius:50px; position:absolute; top:5px; left:20px;
    padding:0px 7px 2px; line-height:16px; display:inline-block;
}
.head_gnb > .btn_head_sidemenu_close02 > .notice_number > .num{color:#fff; font-size:0.750em;}
.gnb_line{border-bottom:1px solid #d8d8d8;}
.main_con_bg{
     margin:0 -20px; padding-bottom:10px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#58a6c7), color-stop(100%,#3c609c)); 
}
.main_top_layout{padding:0 20px;}
.main_top_layout > .title{
    font-size:1.063em; color:#fff; 
    padding:50px 0 0; margin:0 auto; display:table; table-layout:fixed;
    position:relative;
}
.main_top_layout > .title > p{display:inline-block;}
.main_top_layout > .title > p > strong{color:#e7bb54; font-size:1.438em; font-weight:500;}
.main_top_layout > .title > .title_date{
    position:absolute; top:25px; right:0; font-size:0.688em; color:#f3f0f0;
}   
.main_top_photo {margin:10px auto 0; width:100%; display:table; table-layout:fixed; background:#5cb0cd;}
.main_top_photo > li{float:left; width:33.33%; position:relative;}
.main_top_photo > li:first-child{
    font-size:1.125em;
    color:#fff; line-height:21px; 
}
@media only screen and (max-width :320px) {
    .main_top_layout > .title{font-size:0.938em;}
    .main_top_layout > .title > p > strong{font-size:1.125em;}
    .main_top_photo > li:first-child .title{padding:12px 0 0 5px; line-height:17px;}
}
@media only screen and (min-width :321px)and (max-width :360px) {
    .main_top_layout > .title{font-size:1.0em;}
    .main_top_layout > .title > p > strong{font-size:1.250em;}
    .main_top_photo > li:first-child .title{padding:15px 0 0 10px; line-height:17px;}
}
@media only screen and (min-width :361px)and (max-width :640px) {
    .main_top_photo > li:first-child .title{padding:20px 0 0 15px; line-height:17px;}
}

.main_top_photo > li > .bg_logo{
    background: url(../images/bg_logomark.png) no-repeat;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 113px;
    height: 113px;
    background-size: contain;
}
.main_top_photo > li > div > img{vertical-align:top;}
.main_top_photo > li > .shadow{
    background: url(../images/bg_photo_shadow.png) no-repeat;
    width: 100%;
    height:50%;
    position: absolute;
    bottom: 0;
    background-size: cover;
}
.main_top_photo > li > .contxt{ position:absolute; bottom:5px;padding:0 10px;}
.main_top_photo > li > .contxt p.title{
    color:#fff; font-size:0.938em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:80%;  
}
.main_top_photo > li > .contxt p.name{color:#c7c7c7; font-size:0.750em;}
.main_icon_list_box{
    background:#ededed; clear:both;  margin:0 -12px; padding:20px 12px 10px;
}
.pierce_con, .divide_con, .convey_con{
    height:65px;
    border-top-left-radius:0;  
    border-top-right-radius:15px;
    border-bottom-left-radius:25px;  
    border-bottom-right-radius:15px; 
    background:#fff;
    margin-bottom:6px;
}
.pierce_con{border:2px solid #3c609c;}
.divide_con{border:2px solid #388db5;}
.convey_con{border:2px solid #8266d9;}
.pierce_con li, .divide_con li, .convey_con li{
    float:left; width:25%; text-align:center; color:#525252;
    font-size:0.750em;
}
.pierce_con li:first-child{
    background-color:#3c609c;
    border-bottom-left-radius:25px;
}
.divide_con li:first-child{
    background-color:#388db5;
    border-bottom-left-radius:25px;
}
.convey_con li:first-child{
    background-color:#8266d9;
    border-bottom-left-radius:25px;
}
.pierce_con li:first-child > .img_txt{
    background:url(../images/txt_main_iconTxt01.png) no-repeat 0 50%;
    width:58px; height:63px; background-size:contain;
    margin:0 auto;
}
.divide_con li:first-child > .img_txt{
    background:url(../images/txt_main_iconTxt02.png) no-repeat 0 50%;
    width:58px; height:63px; background-size:contain;
    margin:0 auto;
}
.convey_con li:first-child > .img_txt{
    background:url(../images/txt_main_iconTxt03.png) no-repeat 0 50%;
    width:58px; height:63px; background-size:contain;
    margin:0 auto;
}
.footer{
    background:#333; color:#fff; text-align:center;
    letter-spacing:1;
    line-height:42px; height:42px; font-size:0.813em;
}