
<header class="header page_header">
    <div class="head_gnb">
        <h1><a href="javascript:;"><img src="../images/logo.png"></a></h1>
        <a href="" class="btn_head_sidemenu_close02">
            <span class="ic_Gnb ic_side_menu01">사이드메뉴</span>
            <div class="notice_number"><span class="num">5</span></div>
        </a>
        <a href="" class="btn_head_sidemenu_close">
            <span class="ic_Gnb ic_side_menu02">사이드메뉴</span>
        </a>
    </div> 
</header>
